/* Add CSS Styling */

.oddNumber{
    background-color: pink;
    font-family: Verdana,"Dejavu Sans", sans-serif;
}

.cool{
    font-size: 24px;
}

#number2{
    color: blue;
    font-size: 36px;
}

#number4{
    background-color: lightgreen;
    font-size: 24px;
    
}

